<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Un error ocurrió al procesar su pedido.</h2>
        <h2>Puede volver al menú principal con el link al pie de página.</h2>
    </hgroup>
</body>
</html>
