@model DDS.Models.Metodología

@{
    ViewBag.Title = "Agregar metodología";
}

<form method="POST" action="Procesar">
    <table style="margin: 0 auto">
        <tr>
            <td style="text-align:right">Nombre</td>
            <td style="padding-left:10px">
                <input style="margin: 5px auto" type="text" name="nombre" />
            </td>
        </tr>
        <tr>
            <td style="text-align:right">Fórmula</td>
            <td style="padding-left:10px">
                <input style="margin: 5px auto" type="text" name="fórmula" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Enviar" />
            </td>
        </tr>
    </table>
</form>

<div style="margin: 20px auto; display:table">
    <table style="display:table-cell; padding: 0 50px">
        <tr>
            <th>Indicadores</th>
        </tr>
        @foreach (string n in ViewBag.NombresIndicadores) {
            <tr>
                <td>@n</td>
            </tr>
        }
    </table>

    <table style="display:table-cell; padding: 0 50px">
        <tr>
            <th style="text-align:center" colspan="2">Sintaxis</th>
        </tr>
        <tr>
            <td style="text-align:right">Operadores aritméticos</td>
            <td style="min-width:100px">+, -, *, /</td>
        </tr>
        <tr>
            <td style="text-align:right">Delimitadores de expresiones</td>
            <td>(, )</td>
        </tr>
        <tr>
            <td style="text-align:right">Comparadores</td>
            <td>&lt;, &gt;, =</td>
        </tr>
        <tr>
            <td style="text-align:right">Crecimiento</td>
            <td>$</td>
        </tr>
        <tr>
            <td style="text-align:right">Consistencia</td>
            <td>#</td>
        </tr>
    </table>

    <table style="display:table-cell; padding: 0 50px">
        <tr>
            <th>Metodologías</th>
        </tr>
        @foreach (string n in ViewBag.NombresMetodologías) {
            <tr>
                <td>@n</td>
            </tr>
        }
    </table>

</div>
