@{
    ViewBag.Title = "Metodologías";
}

<p>@Html.ActionLink("Agregar", "Agregar", "Metodologías")</p>
<p>@Html.ActionLink("Modificar", "Modificar", "Metodologías")</p>
<p>@Html.ActionLink("Borrar", "Borrar", "Metodologías")</p>
<p>@Html.ActionLink("Aplicar", "Aplicar", "Metodologías")</p>
