@{
    ViewBag.Title = "¿Dónde invierto?";
}

<p>@Html.ActionLink("Cuentas", "Menú", "Cuentas")</p>
<p>@Html.ActionLink("Indicadores", "Menú", "Indicadores")</p>
<p>@Html.ActionLink("Metodologías", "Menú", "Metodologías")</p>