@{
    ViewBag.Title = "Indicadores";
}

<p>@Html.ActionLink("Agregar", "Agregar", "Indicadores")</p>
<p>@Html.ActionLink("Modificar", "Modificar", "Indicadores")</p>
<p>@Html.ActionLink("Borrar", "Borrar", "Indicadores")</p>
<p>@Html.ActionLink("Aplicar", "Aplicar", "Indicadores")</p>
