@{
    ViewBag.Title = "Cuentas";
}

<p>@Html.ActionLink("Importar archivo", "Importar", "Cuentas")</p>
<p>@Html.ActionLink("Importar en lotes", "ImportarLotes", "Cuentas")</p>
<p>@Html.ActionLink("Visualizar", "Visualizar", "Cuentas")</p>
